.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile

*~
*.pdf
*.tiff
*.tif
*.png
*.tfw
auto*
*.docx
*.doc
*.jpg
*.xlsx
*.xls
*.txt
*.zip
*.msg
log
*.db
*.grd
*.gri

*.rdata
*.csv
*.pptx

*.dcf
*.html



## shape files:
*.dbf
*.prj
*.shp
*.shx
*.cpg
*.sbn
*.sbx
*.xml
*.ovr
*.lock
